<!DOCTYPE html>
<html>
<head>
    <title>Socket IO with Auth</title>
</head>
<body>
<a class= "signup" href="/signup">Sign up</a>
    <form id="login" action="javascript:void(0)" method="POST">
        <input type="text" id="username" autofocus>
        <input type="password" id="password">
        <input type="submit" value="login">
    </form>

    <form id = "message" action="javascript:void(0)" style="display:none">
      <label for="message">Message: </label>
      <input type="text" name="message" id="text">
      <input type="submit" value="SEND MESSAGE">
    </form>

    <div id="messages">

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/script.js"></script>
</body>
</html>
